<launch>

  <arg name="tel_pub_rate" default="100" />
  <arg name="teleop_device" default ="xbox" />
  <arg name="bag_file" default ="/home/bpwilcox/catkin_ws/path1.bag" />
  <arg name="dev" default="/dev/input/js0" />

  <node pkg="joy" type="joy_node" name="joy">
    <param name="dev" value="$(arg dev)" /> 
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="telop_tf"
		args="0 0 0 0 0 0 base teleop 100" />

  <node name="teleop_node" pkg="bwrobot" type="teleop_stream.py">
  	<param name="teleop_pub_rate" value="$(arg tel_pub_rate)" />
	<param name="device" value="$(arg teleop_device)" />
	<param name="trajectory_filename" value="$(arg bag_file)" />
  </node>

</launch>
