<launch>


  <arg name="dev" default="/dev/input/js0" />
  <arg name="tel_pub_rate" default="100" />

  <node pkg="joy" type="joy_node" name="joy">
    <param name="dev" value="$(arg dev)" /> 
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
  </node>

 <node name="xbox_teleop_node" pkg="bwrobot" type="xbox_server.py">
  	<param name="teleop_pub_rate" value="$(arg tel_pub_rate)" />
  </node>
  <node pkg="tf" type="static_transform_publisher" name="telop_tf"
		args="0 0 0 0 0 0 map xbox 100" />
        
</launch>
